.wrapper{
    width:600px;
}
.leftside, .rightside{
  height: auto;
  width: 100%;
}
@media screen and (min-width:760px){
  .leftside, .rightside{
    height: 93.9vh;
  }
}
th, td {
  padding: 5px;
}
.table{
  margin-top: 20px;
} 

